.form__labelText {
    font-weight: bold;
    font-size: large;
    width: 150px;
    display: inline-block;
    margin-right: 5px;
}

.form__header {
    text-transform: uppercase;
    color: black;
    background-color: grey;
}

.form__button {
    width: 60%;
    background-color: rgb(65, 52, 58);
    color: white;
    font-size: large;
    padding: 20px;
    margin-top: 40px;
    align-items: center;
}

.form__labelText {
    display: inline-block;
    width: 150px;
    margin-right: 10px;
    color: black;
}


.form__field {
    border: 2px solid;
    width: 250px;
    padding: 10px;
}